

<link rel="stylesheet" href="../styles/aboutDir.css"/>

<div class="about">
  </br>
  <h1>Welcome to the IBM Watson Moderated Debate Forum</h1>
</br>
  <p style="text-align:center;">Just the facts, ma'am? Yes please. Have you ever yearned for a place to find compelling, opposing views, complete with supporting documents? Would you like to remove the emotional baggage from your online discussions? Well this is the forum for you!</p>
  <hr>
</br>
  <ul>
    <li><h2>This is how Watson moderates each post:</h2></li>
    </br>
      <ul>
        <li>Posts are accepted or rejected based on emotional tone

          <ul>
            </br>
            <li>Watson analyzes each sentence individually, and returns results that are based on probability; if a sentence is judged by watson to have over a 35% chance of communicating anger, disgust, or joy, it will be disallowed</li>
            </br>
          </ul>
        </li>
        <li>Posts require a source

          <ul>
            </br>
            <li>posts submitted without a url linking to source material substantiating their post will be disallowed</li>
            </br>
          </ul>
        </li>
        <li>Watson analyzes your source url

          <ul>
            </br>
            <li>Watson will display your source's title, author, publication date, and some additional context to give users an indication of what your source content is all about, as well as links to germane articles from Wikipedia</li>
            </br>
          </ul>
        </li>
      </ul>
  </ul>

  <h2>Tech</h2>



  <ul>
    <li>Digital Ocean</li>
    </br>
    <li>AWS RDB Remote Service</li>
    </br>
    <li>SANE</li>
      <ul>
        <li>mucho Directives</li>
      </ul>
    </br>
    <li>Massive</li>
      <ul>
          <li>inline queries</li>
      </ul>
    </br>
    <li>IBM Watson Services:</li>
      <ul>
          <li>Tone Analyzer</li>
          <li>Natural Language Processor</li>
      </ul>
  </ul>

</div>
