

<link rel="stylesheet" href="../styles/singlePostDir.css"/>

<div class="about">
  </br>
  <h1>What is this?</h1>
</br>
  <h2>IBM Watson Moderated Debate Forum</h2>

  <ul>
    <li>This is how Watson moderates each post:</li>
      <ul>
        <li>Posts are accepted or rejected based on emotional tone
          <ul>
            <li>Watson analyzes each sentence individually, and returns results that are based on probability; if a sentence is judged by watson to have over a 35% chance of communicating anger, disgust, or joy, it will be disallowed</li>
          </ul>
        </li>
        <li>Posts require a source
          <ul>
            <li>posts submitted without a url linking to source material substantiating their post will be disallowed</li>
          </ul>
        </li>
        <li>Watson analyzes your source url
          <ul>
            <li>Watson will display your source's title, author, publication date, and some additional context to give users an indication of what your source content is all about, as well as links to related subjects from Wikipedia</li>
          </ul>
        </li>
      </ul>
  </ul>

  <h2>Tech</h2>



  <ul>
    <li>Digital Ocean</li>
    </br>
    <li>AWS RDB Remote Service</li>
    </br>
    <li>SANE</li>
      <ul>
        <li>mucho Directives</li>
      </ul>
    </br>
    <li>Massive</li>
      <ul>
          <li>inline queries</li>
      </ul>
    </br>
    <li>IBM Watson Services:</li>
      <ul>
          <li>Tone Analyzer</li>
          <li>Natural Language Processor</li>
      </ul>
  </ul>

</div>
