

<div class="responsesPostSection">
  <h1 class="responsesPostsTitle">{{response.thesis}}</h1>

  <p>
    {{response.body}}
  </p>
  <div class="responsesSourceMaterial">

    <section class="responsesLinkSection">
      <h3>Source Info</h3>
      <ul>
          <li>Linked Article Title: {{linkAnalysis.title}}</li>
          <li ng-repeat="a in linkAnalysis.authors">Author: {{a.name}}</li>
          <li>Date Published: {{linkAnalysis.pubDate}}</li>
          <ul>Resources for additional Context:
              <li ng-repeat="s in linkAnalysis.supplements"><a target="_blank" href={{s.link}}>{{s.title}}</a></li>
          </ul>
      </ul>
    </section>
    <section>
      <p><a target="_blank" href={{response.link}}>{{link}}</a></p>
    </section>
  </div>
</div>
