


<link rel="stylesheet" href="../styles/singlePostDir.css"/>

<div class="postSection">
  <h1 class="allPostsTitle">{{post.thesis}}</h1>

  <p>
    {{post.body}}
  </p>
  <div class="sourceMaterial">

    <section class="linkSection">
      <h3>Source Info</h3>
      <ul>
          <li>Linked Article Title: {{linkAnalysis.title}}</li>
          <li ng-repeat="a in linkAnalysis.authors">Author: {{a.name}}</li>
          <li>Date Published: {{linkAnalysis.pubDate}}</li>
          <ul>Resources for additional Context:
              <li ng-repeat="s in linkAnalysis.supplements"><a target="_blank" href={{s.link}}>{{s.title}}</a></li>
          </ul>
      </ul>
    </section>
    <section>
      <p><a target="_blank" href={{post.link}}>{{link}}</a></p>
    </section>
  </div>
</div>
<a ui-sref="submit({id : id})"><button type="button">respond</button></a>
<h3>Responses</h3>
<responses ng-repeat="r in responses" response="r" get-domain-name="getDomainName(r.link)"></responses> <!--this is a custom directive-->
