
*{
  box-sizing: border-box;
  background-color: black;
  color: gray;
  font-family: helvetica;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid gray;
}

.postCollection{
  padding-left: 18px;
  padding-bottom: 18px;
  padding-top: 18px;
  margin: 0px;
  font-size: 51px;
  text-align: center;
}
.postButton div{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gray;
  color: black;
  position: fixed;
  bottom: 27px;
  right: 27px;
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
