
*{
  box-sizing: border-box;
  background-color: black;
  color: gray;
  font-family: helvetica;
}

.allPostsTitle{
  text-align: center;
  font-size: 60px;
}

.postSection{
  font-size: 51px;
  text-align: right;
  margin: 3px;
  border: 1px solid gray;
  border-radius: 3px;
}
