*{
  box-sizing: border-box;
  background-color: black;
  color: gray;
  font-family: helvetica;
}


.view{
  box-sizing: border-box;
  height:60%;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 5px solid lightgreen;
}
#feedbackBox{
  margin-bottom: 60vh;
  border: 3px solid red;
  font-size: 2vh;
}

.title{
  text-align: center;
  font-size: 2vh;
}
.submission{
  height:21%;
  width: 95%;
  margin:6px;
  padding:0;
  border:0;
}
form {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid lightblue;
}
textarea{
  width: 100%;
  height: 100%;
  padding: 3%;
  text-align:center;
  font-size: 3vh;
}
input{
  width: 100%;
  height: 100%;
  padding: 3%;
  text-align: center;
  display: flex;
  flex-shrink: 1;
  font-size: 3vh;
}
::-webkit-input-placeholder{
  font-size: 3vh;
}
button{
  width: 100%;
  height: 5vh;
  font-size: 3vh;
}
